# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
air_bnb = pd.read_csv('files/AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [124]:
#1 How many neighborhood groups are available and which shows up the most?

ans_1 = air_bnb.groupby('neighbourhood_group')['neighbourhood_group'].count().nlargest()
ans_1

# Ans - There are total 5 neighborhood groups with Manhattan showing up the most

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [129]:
#2 Are private rooms the most popular in manhattan?
ans_2 = air_bnb.loc[air_bnb['neighbourhood_group']== 'Manhattan']
ans_2 = ans_2.groupby('room_type')['room_type'].count().nlargest()
ans_2

# Ans - No

room_type
Entire home/apt    13199
Private room        7982
Shared room          480
Name: room_type, dtype: int64

In [111]:
#3 Which hosts are the busiest and based on their reviews?
ans_3 = air_bnb.groupby('host_name')['number_of_reviews'].sum().nlargest(1)
ans_3

# Ans - Michael is the busiest host, he has 11081 reviews

host_name
Michael    11081
Name: number_of_reviews, dtype: int64

In [130]:
#4 Which neighorhood group has the highest average price?
ans_4 = air_bnb.groupby('neighbourhood_group')['price'].mean().round(2).nlargest(1)
ans_4

# Ans - Manhattan has the highest average price of $196.88 per night

neighbourhood_group
Manhattan    196.88
Name: price, dtype: float64

In [131]:
#5 Which neighbor hood group has the highest total price?
ans_5 = air_bnb.groupby('neighbourhood_group')['price'].sum().nlargest(1)
ans_5

# Ans - Manhattan has the highest total price, $4,264,527

neighbourhood_group
Manhattan    4264527
Name: price, dtype: int64

In [43]:
#6 Which top 5 hosts have the highest total price?
ans_6 = air_bnb.groupby('host_name')['price'].sum().nlargest()
ans_6

host_name
Sonder (NYC)    82795
Blueground      70331
Michael         66895
David           65844
Alex            52563
Name: price, dtype: int64

In [155]:
#7 Who currently has no (zero) availability with a review count of 100 or more?
zero_ava = air_bnb.loc[air_bnb['availability_365'] == 0]
zero_ava
above_100 = zero_ava.groupby('host_name')['number_of_reviews'].sum() >= 100
above_100

host_name
(Email hidden by Airbnb)    False
A                           False
A & H                       False
A.J.                        False
A.R.                        False
                            ...
馨惠                          False
단비                          False
빈나                          False
소정                          False
진                           False
Name: number_of_reviews, Length: 5742, dtype: bool

In [118]:
#8 What host has the highest total of prices and where are they located?

ans_8 = air_bnb.groupby(['host_name'])['price'].sum().nlargest(1)
ans_8
#ans_8.sort_values(by=['price'], ascending=False).head(1)

# Ans - Sonder(NYC) has the highest total price $82,795 and is located in Manhattan

host_name
Sonder (NYC)    82795
Name: price, dtype: int64

In [116]:
#9 When did Danielle from Queens last receive a review?

ans_9 = air_bnb.loc[air_bnb['host_name']== 'Danielle']
ans_9 = ans_9.sort_values(by=['last_review'], ascending=False).head(1)
ans_9['last_review']

# Ans - 07/08/2019

22469    2019-07-08
Name: last_review, dtype: object

## Further Questions

1. Which host has the most listings?

In [132]:
fq1 = air_bnb.groupby('host_name')['calculated_host_listings_count'].sum().nlargest(1)
fq1

# Ans - Sonder (NYC) has the most listing count - 106,929

host_name
Sonder (NYC)    106929
Name: calculated_host_listings_count, dtype: int64

2. How many listings have completely open availability?

In [96]:
fq2 = air_bnb.loc[air_bnb['availability_365'] == 365]
fq2['availability_365'].count()

# Ans - 1295

1295

3. What room_types have the highest review numbers?

In [133]:
fq3 = air_bnb.groupby('room_type')['number_of_reviews'].sum().nlargest(1)
fq3

# 'Entire home/apt' has the highest reviews, 580,403

room_type
Entire home/apt    580403
Name: number_of_reviews, dtype: int64

In [ ]:
# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

Based on the above analysis, here are my findings:
    1) There are total 5 neighborhood groups in the data-set with Manhattan showing up the most
    2) 'Private rooms' are NOT the most popular in manhattan
    3) Michael is the busiest host with 11,081 reviews
    4) Manhattan has the highest average price of $196.88 per night
    5) Manhattan has the highest total price, $4,264,527
    6) Top 5 hosts with the highest total price are below:
            Sonder (NYC)    $82,795
            Blueground      $70,331
            Michael         $66,895
            David           $65,844
            Alex            $52,563
    7) 
    8) Sonder(NYC) has the highest total price of $82,795 and is located in Manhattan
    9) Danielle from Queens last received a review on 07/08/2019
    
    FQ1) Sonder (NYC) has the most listing count - 106,929
    FQ2) 1,295 listings have completely open availability
    FQ3) 'Entire home/apt' have the highest review numbers - 580,403 total reviews